<h1>Current Locale</h1>

<p><%= I18n.locale %></p>

<h1>Available Languages</h1>
<ul>
  <% @languages.each do |locale| %>
    <li><%= link_to locale, url_for(locale: locale) %></li>
  <% end %>
</ul>
