<div class="my-4">
  <span class="text-xl font-bold dark:text-gray-300">Swimlane: <%= swimlane.title %></span>
  <%= link_to "Edit", edit_board_swimlane_path(swimlane.board, swimlane), class: "rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <%= link_to "Delete", board_swimlane_path(swimlane.board, swimlane), method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-lg bg-red-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" %>
</div>
